@font-face {
    font-family: 'serif,SolaimanLipi';
    src: url('fonts/solaimanlipi_20-04-07.eot');
    src: url('fonts/solaimanlipi_20-04-07.eot') format('embedded-opentype'),
    url('fonts/solaimanlipi_20-04-07.woff') format('woff'),
    url('fonts/solaimanlipi_20-04-07.ttf') format('truetype'),
    url('fonts/solaimanlipi_20-04-07.svg') format('svg');
}
body{font-family:sans-serif,SolaimanLipi;}